# Config file for QuickConnect mod
# Lines starting with # and empty lines are ignored

# Put one server per line
# name:addr:port[:password]

# addr can be ether IP or a fully qualified domain name

# Awesome Server:127.0.0.1:2456:smellysocks
# Another Server:myserver.example.com:2456:rockmyboars

# password is optional, you can skip it if your server doesn't need a password
# or if you don't want to write it down

Comfy Valheim:comfy.valngos.com:2456